.done {
  color: green;
}
.done:after {
  content: '\2713';
}
#container {
  position: relative;
}
.point {
  position: absolute;
  height: 10px;
  width: 10px;
  border: 3px solid #00ff00;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
.point:hover {
  cursor: pointer;
  border-color: red;
};
.hide {
  display: none;
}